@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin positioning {
  position: absolute;
  top: 0;
  left: 0;
}

//Media queries
/*
0 - 600px: Phone
600-900px: Tablet Portrait
900-1200px: Tablet Landscape
[1200 - 1800px] where normal styles apply
1800px + : Big Desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

NOTE = REM IS NOT SUPPORTED BY MOST OF THE BROWSERS FOR MEDIA QUERIES SO WE USE EM
REM AND EM ARE NOT AFFECTED BY THE ROOT FONT SIZE

1EM = 16PX  (if user has not defined the font-size)
 */
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {    //600px
      @content
    }
  }

  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {    //900px
      @content
    }
  }

  @if $breakpoint == tab-land {
    @media (max-width: 75em) {   //1200px
      @content
    }
  }

  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {    //1800px
      @content
    }
  }
}
